@use "../settings/breakpoints" as bp;
.dashboard-experience-info {
  margin-bottom: 42px;
  @include bp.media-down(lg) {
    text-align: center;
  }
}
.dashboard-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "block1 block2" "block3 block4";
  gap: 42px 60px;
  align-items: center;

  @include bp.media-down(lg) {
    grid-template-columns: 1fr;
    align-items: start;
    gap: 42px;
    grid-template-areas: "block2" "block1" "block3" "block4";
    text-align: center;
  }
  &__block1 {
    grid-area: block1;
  }
  &__block2 {
    grid-area: block2;
  }
  &__block3 {
    grid-area: block3;
  }
  &__block4 {
    grid-area: block4;
  }
  &__block5 {
    grid-area: block5;
  }
  &__block6 {
    grid-area: block6;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li + li {
      margin-top: 24px;
    }
  }
  img {
    height: 100%;
    object-fit: cover;
  }
  h3 {
    font-size: 24px;

    @include bp.media-down(lg) {
      font-size: 20px;
    }
  }
  &.dashboard-experience--saas {
    padding-top: 38px;
    padding-bottom: 36px;
    gap: 116px 0;
    .dashboard-experience__block2 {
      padding-left: 18px;
    }
    .dashboard-experience__block3 {
      padding-left: 72px;
    }
    .dashboard-experience__block4 {
      padding-right: 60px;
      text-align: right;
    }
    img {
      max-width: 462px;
    }
    @include bp.media-down(xl) {
      gap: 42px;
      .dashboard-experience__block2 {
        padding-left: 0;
      }
      .dashboard-experience__block3 {
        padding-left: 0;
      }
      .dashboard-experience__block4 {
        padding-right: 0;
        text-align: center;
      }
    }

    @include bp.media-down(lg) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &.dashboard-experience--ds {
    padding-top: 0;
    padding-bottom: 0;
    gap: 42px 0;
    .dashboard-experience__block1 {
      img {
        margin-top: 44px;
        margin-bottom: 44px;
        margin-left: 79px;
      }
    }
    .dashboard-experience__block2 {
      padding-left: 18px;
      ul {
        padding-left: 25px;
        list-style: disc;

        @include bp.media-down(lg) {
          list-style: none;
          padding-left: 0;
        }
      }
    }
    .dashboard-experience__block3 {
      padding-left: 42px;
    }
    .dashboard-experience__block4 {
      padding-right: 58px;
      text-align: right;
      img {
        max-width: 442px;
      }
      @include bp.media-down(lg) {
        padding-right: 0;
      }
    }
    img {
      max-width: 400px;
    }
    @include bp.media-down(xl) {
      gap: 42px;
      .dashboard-experience__block1 {
        img {
          margin: 0;
        }
      }
      .dashboard-experience__block2 {
        padding-left: 0;
      }
      .dashboard-experience__block3 {
        padding-left: 0;
      }
      .dashboard-experience__block4 {
        padding-right: 0;
        text-align: center;
      }
    }

    @include bp.media-down(lg) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &.dashboard-experience--3 {
    grid-template-areas: "block1 block2" "block3 block4" "block5 block6";
    @include bp.media-down(lg) {
      grid-template-areas: "block2" "block1" "block3" "block4" "block6" "block5";
    }
  }
}
