@use "../settings/breakpoints" as bp;
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px 42px;
  gap: 8px;
  img {
    width: 16px;
  }
  .link {
    font-weight: 700;
  }

  @include bp.media-down(lg) {
    padding-left: var(--space-section-x);
  }
}
