<footer class="footer" id="contacts">
	<div class="footer__email">
		<div class="label">Contact me</div>
		<a class="link" href="mailto:chornohor.anastasia.ua@gmail.com">chornohor.anastasia.ua@gmail.com</a>
	</div>
	<div class="footer__cv">
		<a href="/assets/CV_Chornohor.pdf" class="button" target="_blank">Download CV</a>
	</div>
	<div class="footer__contact">
		<div>
			<div class="label">Location</div>
			<div>Ukraine</div>
			<div>Open to Remote </div>
		</div>
		<div>
			<div class="label">Contacts</div>
			<div>Phone number</div>
			<div>
				<a class="link" href="tel:+380991289885">+38 (099) 12 89 885</a>
			</div>
		</div>
	</div>
	<div class="footer__social">
		<nav class="footer__nav" aria-label="Footer social">
			<ul class="footer__nav-list">
				<li class="footer__nav-item">
					<a class="link" href="https://www.instagram.com/miss__anastacia?igsh=MTdtYmFuOTZ2cnFkOA%3D%3D&utm_source=qr" target="_blank">Instagram</a>
				</li>
				<li class="footer__nav-item">
					<a class="link" href="https://www.linkedin.com/in/chornohor/" target="_blank">Linkedin</a>
				</li>
				<li class="footer__nav-item">
					<a class="link" href="https://t.me/anastasia_chornohor" target="_blank">Telegram</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="footer__links">
		<nav class="footer__nav" aria-label="Footer navigation">
			<ul class="footer__nav-list">
				<li class="footer__nav-item">
					<a class="link" href="/#projects">Projects</a>
				</li>
				<li class="footer__nav-item">
					<a class="link" href="/#expertise">Expertise</a>
				</li>
				<li class="footer__nav-item">
					<a class="link" href="/#experience">Experience</a>
				</li>
				<li class="footer__nav-item">
					<a class="link" href="/#growth">Growth</a>
				</li>
				<li class="footer__nav-item">
					<a class="link" href="/#contacts">Contacts</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="footer__copyr">
		<span>© 2026. All rights reserved</span>
	</div>
</footer>
