{% macro projectTwoColumnInfo(section) %}
	<section class="section {{ section.class or "section--42-42-0-0" }}">
		<h2>{{ section.title }}</h2>
		<div class="architecture-block architecture-block--two-col">
			<div class="architecture-block__text">{{ section.description | safe }}</div>
			<div class="architecture-block__table scrollbar-hidden-x">
				{% for group in section.groups %}
					<div class="architecture-block-item">
						<b>{{ group.title }}</b>
						<ul>
							{% for item in group.items %}
								<li>{{ item }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endmacro %}
