@use "../settings/breakpoints" as bp;
.ai-problems-wrapper {
  h3 {
    font-size: 24px;
    @include bp.media-down(lg) {
      font-size: 20px;
      text-align: center;
    }
  }
  @include bp.media-down(lg) {
    text-align: center;
  }
}
.ai-problems {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  padding: 60px 42px 42px;
  gap: 59px;
  margin-top: 42px;
  margin-bottom: 42px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 130%;
    font-weight: 600;

    @include bp.media-down(lg) {
      font-weight: 500;
    }
  }
  .circle-label {
    margin-bottom: 24px;
  }
  @include bp.media-down(lg) {
    gap: 42px 38px;
    padding: 32px;
    grid-template-columns: 1fr 1fr;
    & > :last-child {
      grid-column: 1 / -1;
    }
  }
}
// solutions
.ai-solution {
  display: grid;
  grid-template-columns: 470px 1fr;
  gap: 154px;
  align-items: center;

  @include bp.media-down(xl) {
    gap: 42px;
  }
  @include bp.media-down(lg) {
    text-align: center;

    grid-template-columns: 1fr;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
  }
}
.ai-solutions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 42px;
  li {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 24px;
    &.ai-solutions__item3 {
      @include bp.media-down(lg) {
        max-width: 140px;
      }
    }
    &.ai-solutions__item1 {
      @include bp.media-down(lg) {
        max-width: 130px;
      }
    }
    @include bp.media-down(lg) {
      flex-direction: column;
      line-height: 130%;
    }
    img {
      width: 22px;
      min-width: 22px;
      margin-top: -3px;
    }
  }
  @include bp.media-down(lg) {
    font-weight: 500;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
    gap: 42px 11px;
    & > :last-child {
      grid-column: 1 / -1;
    }
    li {
      max-width: 184px;
    }
  }
}
// integrations
.ai-integrations {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 120px;
  gap: 42px;
  @include bp.media-down(lg) {
    margin-top: 42px;
    padding-left: 42px;
    padding-right: 42px;
    overflow-x: auto;
    width: calc(100% + calc(var(--space-section-x)) * 2);
    margin-left: calc(
      var(--space-section-x) - calc(var(--space-section-x) * 2)
    );
  }
  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 93px;
    width: 93px;
    height: 93px;
    border-radius: 12px;
    box-shadow:
      0 42px 33px 0 rgba(76, 76, 76, 0.05),
      0 100px 80px 0 rgba(76, 76, 76, 0.07);
  }
  & > *:nth-child(odd) {
    margin-top: 56px;
  }
  img {
    width: 44px;
  }
}

//bottom
.ai-bottom-image {
  height: 480px;
  background: url("assets/img/ai/bot.webp"), var(--color-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 42px;
  border-radius: 0 0 24px 24px;

  @include bp.media-down(md) {
    background: url("assets/img/ai/bot-mobile.webp"), var(--color-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
}
.ai-bottom-details {
  padding: 24px 42px;
  @include bp.media-down(lg) {
    padding: 0;
  }
  h2 {
    max-width: 1000px;
    margin-bottom: 94px;
    @include bp.media-down(lg) {
      margin-bottom: 60px;
      line-height: 120%;
      font-size: 36px;
      text-align: left;
    }
  }
  .col-2 {
    gap: 120px;
    padding-right: 17%;

    @include bp.media-down(lg) {
      gap: 42px;
      padding-right: 0;
    }
  }
}
