@use "../settings/breakpoints" as bp;
.ec-user-flow-info {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 60px;
  align-items: center;
  margin-bottom: 42px;
  @include bp.media-down(xl) {
    grid-template-columns: 1fr;
    gap: 42px;
  }
}
.ec-ux-priorities-title {
  font-size: 24px;
  @include bp.media-down(xl) {
    font-size: 20px;
  }
  @include bp.media-down(lg) {
    text-align: center;
  }
}
.ec-ux-priorities {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-content: space-between;
  @include bp.media-down(lg) {
    grid-template-columns: 1fr;
    gap: 42px;
    text-align: center;
  }
  & > * {
    position: relative;
    padding-top: 84px;
  }
  p {
    margin-top: 24px;
    @include bp.media-down(lg) {
      margin-top: 16px;
    }
  }
  &__number {
    position: absolute;
    left: 0;
    top: 3px;
    font-family: "Inter", var(--ff-base);
    font-weight: 600;
    font-size: 112px;
    letter-spacing: -3%;
    line-height: 120%;
    background: linear-gradient(180deg, #ebebeb 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: -1;
    @include bp.media-down(lg) {
      left: calc(50% - 69px);
    }
  }
}
// Conversion Strategy
.ec-conversion-strategy-text {
  margin-bottom: 60px;
  @include bp.media-down(lg) {
    text-align: center;
    margin-bottom: 42px;
  }
}
.ec-conversion-strategy-wrapper {
  display: grid;
  grid-template-columns: 480px 1fr;
  gap: 160px;
  align-items: center;
  padding: 24px 0 24px 24px;
  @include bp.media-down(lg) {
    grid-template-columns: 1fr;
    gap: 42px;
    padding: 0;
  }
}
.ec-conversion-strategy-image {
  height: 384px;
  position: relative;

  @include bp.media-down(lg) {
    overflow: hidden;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 384px;
    width: auto;
    max-width: initial;
  }
}
.ec-conversion-strategy-item {
  display: flex;
  align-items: center;
  max-width: 480px;
  &__number {
    padding-right: 42px;
    margin-right: 42px;
    min-width: 110px;
    color: #e6e9ea;
    font-family: "Inter", var(--ff-base);
    font-size: 52px;
    font-weight: 50;
    border-right: 1px solid var(--color-border);
    @include bp.media-down(lg) {
      padding-right: 24px;
      margin-right: 24px;
      min-width: 86px;
    }
  }
  & + & {
    margin-top: 42px;
  }
  h3 {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 20px;
    text-align: left;
  }
}
