:root {
  --color-text: #2d2d2d;
  --color-text-muted: #2d2d2d80;
  --color-button-bg: #2d2d2d;
  --color-button-text: #ffffff;
  --color-button-light-bg: #f2f2f7;
  --color-button-light-text: #2d2d2d;
  --color-border: #e6e9ea;
  --color-link-hover: #000000;
  --color-background: rgba(243, 245, 246, 0.5);
  --color-accent: #009379;
  --color-white: #ffffff;
  --color-surface: #ffffff;
}
