---
layout: base.njk
title: Page not found
description: The requested page could not be found.
permalink: /404.html
robots: noindex, follow
excludeFromSitemap: true
---

<section class="section section--60-60-0-72 ta-c">
	<h1 class="mb42">404</h1>
	<p class="mb42">This page does not exist or has been moved.</p>
	<a class="button mb42" href="/">Go home</a>
</section>
